@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
body {
    background-image: url(background.gif);
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}
h1 {
    color: white;
}
div{
    color: aliceblue;
}
th{
font-family: 'Anton', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Shadows Into Light', cursive;

}
